<log4net>
  <root>
    <level value="ALL" />
    <appender-ref ref="ArchivoDeTexto" />
    <appender-ref ref="DebugAppender" />
    <!--<appender-ref ref="EventLog" />-->
    <!--<appender-ref ref="Mail" />-->
    <!--<appender-ref ref="BaseDeDatos" />-->
    <!--<appender-ref ref="RemoteSyslogAppender" />-->
  </root>

  <!--Ejemplo de appender para loguear en un archivo plano-->
  <appender name="ArchivoDeTexto" type="log4net.Appender.RollingFileAppender">
    <file value="D:\Grupo Trabajo\Biblioteca\BackEnd\Logs\BL\BL-API\BL-"/>
    <staticLogFileName value="false"/>
    <appendToFile value="true"/>
    <rollingStyle value="Composite"/>
    <datePattern value="yyyy-MM-dd'.log'" />
    <maxSizeRollBackups value="20"/>
    <maximumFileSize value="4MB"/>
    <layout type="log4net.Layout.PatternLayout">
      <header value="--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------&#13;&#10;[Fecha] &#9; [Hora] &#9; [Host] &#9; [Dest] [Port] &#9; [Apl] &#9; [AppName] &#9; [User] &#9; &#9; &#9; [ID] &#9; [EventDesc] &#9; &#9; &#9; &#9; &#9; &#9; &#9; &#9; &#9; &#9; &#9; &#9; &#9; &#9; &#9; &#9; &#9; &#9;  [ErrorLevel] [Mensaje]&#13;&#10;--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------&#13;&#10;" />
      <conversionPattern value="%date{yyyy-MM-dd} &#9; %date{HH:mm:ss} &#9; %property{log4net:HostName} &#9; 0 &#9; 0 &#9; %X{apl} &#9; TEMP &#9; %X{usu} &#9; &#9; %-8timestamp %-100ndc %X{tip} -> %message %newline"/>
    </layout>
  </appender>

  <!--Ejemplo de appender para loguear en .net - los logs se pueden visualizar en la ventana "Resultados" de Visual Studio-->
  <appender name="DebugAppender" type="log4net.Appender.DebugAppender">
    <immediateFlush value="true" />
    <layout type="log4net.Layout.SimpleLayout" />
  </appender>

  <!--Ejemplo de appender para loguear en uns servicio remoto syslog usando redes UDP-->
  <!--<appender name="RemoteSyslogAppender" type="log4net.Appender.RemoteSyslogAppender">
    <layout type="log4net.Layout.PatternLayout" value="%date{dd/MM/yyyy hh:mm:ss,fff} | %thread | %level | %logger | %username | %P{log4net:HostName} | dev | %message | %exception | "/>
    <remoteAddress value="10.0.2.85" />
    <facility value="Local7" />
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="ALL" />
    </filter>
  </appender>-->

  <!--Ejemplo de appender para loguear en el log de Windows-->
  <!--<appender name="EventLog" type="log4net.Appender.EventLogAppender" >
    <applicationName value="ACUA" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="DATE:%date{yyyy-MM-dd} %newline TIME:%date{HH:mm:ss} %newline HOSTNAME-SRC:%property{log4net:HostName} %newline HOSTNAME-DST:0 %newline DST-PORT:0 %newline COD-APP:%X{apl} %newline APP-NAME:ACUA %newline APP-USER:%X{usu} %newline EVENT-ID:%-8timestamp %newline EVENT-DESC:%-100ndc %newline ERROR-LEVEL:%X{tip} %newline :: %level :: %message %newlineLogger: %logger%newlineThread: %thread"/>
    </layout>
  </appender>-->

  <!--Ejemplo de appender para envío de mail de los logs-->
  <!--<appender name="Mail" type="log4net.Appender.SmtpAppender">
    <to value="federico.hib@bcra.gob.ar"/>
    <from value="aplicaciones@bcra.gob.ar" />
    <subject value="[ACUA] ACUA - ERROR DESARROLLO" />
    <smtpHost value="EXCHANGE2003CLU.bcra.net" />
    <bufferSize value="3" />
    <lossy value="true" />
    <evaluator type="log4net.Core.LevelEvaluator">
      <threshold value="ERROR"/>
    </evaluator>
    <layout type="log4net.Layout.PatternLayout">
      <header value="[ACUA] - REPORTE DE ERROR:&#13;&#10;************************&#13;&#10;Se ha detectado un error en la aplicación.&#13;&#10;A continuación se detalla el Error y hasta 3 eventos previos.&#13;&#10;&#13;&#10;&#13;&#10;"/>
      <footer value="&#13;&#10;&#13;&#10;&#13;&#10;&#13;&#10;Este mensaje fue deliverado en forma automática.&#13;&#10;Verificar el archivo de LOG del Sistema.&#13;&#10;&#13;&#10;"/>
      <conversionPattern value="%property{log4net:HostName} :: %level :: %message %newlineLogger: %logger%newlineThread: %thread%newlineDate: %date%newline%newline" />
    </layout>
  </appender>-->

  <!--Ejemplo de appender para loguear en una base de datos-->
  <!--<appender name="BaseDeDatos" type="log4net.Appender.AdoNetAppender">
    <bufferSize value="1" />
    <connectionType value="System.Data.SqlClient.SqlConnection,
              System.Data, 
              Version=4.0.0.0, 
              Culture=neutral, 
              PublicKeyToken=b77a5c561934e089" />
    <connectionStringName value="ConexionACUA" />
    <commandText value="sp_AltaLogEvento" />
    <commandType value="StoredProcedure" />
    <parameter>
      <parameterName value="@APLICATIVO" />
      <dbType value="Int32" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%X{apl}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@USUARIO" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%X{usu}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@EVENTO" />
      <dbType value="String" />
      <size value="250" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%X{eve}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@TIPOEVENTO" />
      <dbType value="Int32" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%X{tip}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@FECHA" />
      <dbType value="DateTime"/>
      <layout type="log4net.Layout.RawTimeStampLayout" />
    </parameter>

  </appender>-->


</log4net>


